@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
/* - Mobile: 375px
- Desktop: 1440px


### Font

- Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900 */

:root {
    /* ### Primary */
--pale-blue: hsl(225, 100%, 94%);
--bright-blue: hsl(245, 75%, 52%);  
    /* ### Neutral */
--very-pale-blue: hsl(225, 100%, 98%);
--desaturated-blue: hsl(224, 23%, 55%);
--dark-blue: hsl(223, 47%, 23%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: var(--pale-blue);
    
}

.card {
    max-width: 350px;
    width: 80%;
    height: 80vh;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}

.card-header {
    width: 100%;
}

.card-header img {
    /* background-position: center center;
    background-size: cover; */
    width: 100%;

}

.order{
    padding: 25px;
}

.order p {
    padding-top: 15px;
    color: var(--desaturated-blue);
    line-height: 1.5;
}

.pricing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--very-pale-blue);
    width: 85%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 10px;
}

.pricing h2 {
    font-size: 18px;
}

.pricing h3 {
    font-size: 15px;
    color: var(--desaturated-blue);
    font-weight: 500;
}

.change {
    cursor: pointer;
    font-size: 14px;
}

.change a:hover {
    text-decoration: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-direction: ; */
    align-items: center;
    padding-top: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.buttons .submit {
   background-color: var(--bright-blue);
   border-radius: 10px;
   color: white;
   padding: 18px 10px;
   font-weight: 700;
}

.buttons .cancel {
    background-color: white;
    padding-top: 20px;
    color: var(--desaturated-blue);
    font-weight: 700;
}

.buttons .cancel:hover {
    color: black;
}

button {
    cursor: pointer;
    width: 80%;
    padding: 10px;
    border: none;
}


