@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
/* - Mobile: 375px
- Desktop: 1440px


### Font

- Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900 */

:root {
    /* ### Primary */
--pale-blue: hsl(225, 100%, 94%);
--bright-blue: hsl(245, 75%, 52%);  
    /* ### Neutral */
--very-pale-blue: hsl(225, 100%, 98%);
--desaturated-blue: hsl(224, 23%, 55%);
--dark-blue: hsl(223, 47%, 23%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: var(--pale-blue);
    
}

.card {
    max-width: 350px;
    width: 80%;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}

.card-header {
    width: 100%;
}

.card-header img {
    /* background-position: center center;
    background-size: cover; */
    width: 100%;
    height: 175px;

}

.order{
    padding: 25px;
}

.order p {
    padding-top: 15px;
    color: var(--desaturated-blue);
    line-height: 1.5;
}

.pricing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--very-pale-blue);
    width: 85%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 10px;
}

.pricing h2 {
    font-size: 16px;
}

.pricing h3 {
    font-size: 15px;
    color: var(--desaturated-blue);
    font-weight: 500;
}

.change {
    cursor: pointer;
    font-size: 14px;
}

.change a:hover {
    text-decoration: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-direction: ; */
    align-items: center;
    padding-top: 5px;
    margin-bottom: 50px;
    margin-top: 20px;
    position: relative;
}

.buttons .submit {
   background-color: var(--bright-blue);
   border-radius: 10px;
   color: white;
   padding: 18px 10px;
   font-weight: 900;
   -webkit-box-shadow: 0px 15px 15px 0px var(--pale-blue); 
    box-shadow: 0px 15px 15px 0px var(--pale-blue);
}

.buttons .submit:hover {
    background-color: hsla(245, 75%, 52%, 0.7); 
}

.buttons .cancel {
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 15px;
    color: var(--desaturated-blue);
    font-weight: 900;
    position: absolute;
    bottom: -65px;
}

.buttons .cancel:hover {
    color: black;
}

button {
    cursor: pointer;
    width: 80%;
    padding: 10px;
    border: none;
}

@media (min-width: 732px) {
    .card {
        max-width: 400px;
        padding-bottom: 20px;
    }

    .buttons .cancel {
       bottom: -75px;
    }
}

